<!DOCTYPE html>
<html>
<body>
<div class="form">
  <form action="/">
   <button type="/" class="button button-block"/>logout</button>
 <style type="text/css">
   body {
    background-color: #C0C0C0;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>

<table style="width:100%">
<center>
<p>Successfully Login</p>
</center>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>19</td>
  </tr>
  <tr>
    <td>Dama</td>
    <td>Criscia</td>
    <td>18</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
   <tr>
    <td>John</td>
    <td>Doe</td>
    <td>20</td>
  </tr>
</table>

</body>

 

</body>
</html>
